<nav class="menu-container">
    <div class="menu">
        @{
            var uri = this.ViewContext.HttpContext.Request.Url;
            var activeMenuItem = -1;
            if (uri != null)
            {
                var url = uri.AbsolutePath;
                if (url.EndsWith("Common/Doctor/List") || url.EndsWith("Common/Patient/List"))
                {
                    activeMenuItem = 1;
                }
                else if (url.EndsWith("Registration/Registration"))
                {
                    activeMenuItem = 2;
                }
                else
                {
                    activeMenuItem = 0;
                }
            }
        }
        <ul>
            <li class="@(activeMenuItem == 0 ? "active" : "")">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <span>Home</span>
                </a>
            </li>
            <li class='has-sub @(activeMenuItem == 1 ? "active" : "")'>
                <a href='#'>
                    <span>Номенклатура</span>
                </a>
                <ul>
                    <li>
                        <a href='@Url.Action("List", "Doctor", new { area = "Common" })'>
                            <span>Лекари</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("List", "Patient", new { area = "Common" })'>
                            <span>Пациенти</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@(activeMenuItem == 2 ? "active" : "")">
                <a href='@Url.Action("Index", "Registration", new { area = "Registration" })'>
                    <span>График</span>
                </a>
            </li>
            <li>
                <a href='#'>
                    <span>Настройки</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
