@using MedRegistration.Infrastructure.Authorization
<nav class="menu-container">
    @if (Request.IsAuthenticated)
    {
        <div class="user-name">
            <span>Добре дошли: @HttpContext.Current.User.FullName()</span>
            <a href="@Url.Action("Logout", "Account", new { area = "" })" class="clear-href">Изход</a>
        </div>
    }
    <div class="menu">
        @{
            var uri = ViewContext.HttpContext.Request.Url;
            var activeMenuItem = -1;
            if (uri != null)
            {
                var url = uri.AbsolutePath;
                if (url.IndexOf("/Common/", StringComparison.OrdinalIgnoreCase) > -1)
                {
                    activeMenuItem = 1;
                }
                else if (url.IndexOf("/Registration/", StringComparison.OrdinalIgnoreCase) > -1)
                {
                    activeMenuItem = 2;
                }
                else if (url.IndexOf("/Configuration/", StringComparison.OrdinalIgnoreCase) > -1)
                {
                    activeMenuItem = 3;
                }
                else
                {
                    activeMenuItem = 0;
                }
            }
        }
        <ul>
            <li class="@(activeMenuItem == 0 ? "active" : "")">
                <a href='@Url.Action("Index", "Home", new { area = "" })'>
                    <span>Home</span>
                </a>
            </li>
            <li class='has-sub @(activeMenuItem == 1 ? "active" : "")'>
                <a href='#'>
                    <span>Номенклатура</span>
                </a>
                <ul>
                    <li>
                        <a href='@Url.Action("List", "Doctor", new { area = "Common" })'>
                            <span>Лекари</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("List", "Patient", new { area = "Common" })'>
                            <span>Пациенти</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="@(activeMenuItem == 2 ? "active" : "")">
                <a href='@Url.Action("Index", "Registration", new { area = "Registration" })'>
                    <span>График</span>
                </a>
            </li>
            <li class='has-sub @(activeMenuItem == 3 ? "active" : "")'>
                <a href='#'>
                    <span>Настройки</span>
                </a>
                <ul>
                    <li class="@ViewBag.AdminViewClass">
                        <a href='@Url.Action("Index", "UserAdministration", new { area = "Configuration" })'>
                            <span>Потребители</span>
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Edit", "UserAdministration", new { area = "Configuration" })'>
                            <span>Промяна лични данни</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
